a{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texto-rosa{
    color: rgb(109, 10, 48);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-verde{
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

#chama-atencao{
    font-weight:bold;
    font-size: larger;
    font-style: normal;
    background-color: blue;

}

body{
    background-color: aquamarine;
}